<div id="content-wrap">
<div id="content">

<h1>Listing posts</h1>

<table>
  <tr>
    <th>post-date</th>
    <th>title</th>
    <th>content</th>
    <th>show</th>
    <th>edit</th>
    <th>destroy</th>
  </tr>

<% for post in @posts %>
  <% if post.id.odd? then %>
  <tr class="row-a">
  <% else %>
  <tr class="row-b">
  <% end %>
    <td><%=h post.created_at.strftime("%m.%d.%Y") %></td>
    <td><%=h post.title %></td>
    <td><%=h post.content %></th>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New post', new_post_path %>

</div></div>
